<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Test Dominó IA</title>
</head>
<body>
    <h1>Prueba modelo ONNX (output crudo)</h1>

    <form action="/add_match" method="POST" enctype="multipart/form-data">
        <label>Team ID (usa uno que exista en DB):</label><br>
        <input type="number" name="team_id" value="1" required><br><br>

        <input type="file" name="image" accept="image/*" required><br><br>

        <button type="submit">Enviar imagen</button>
    </form>
</body>
</html>




